name: first-workflow
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    concurrency:
      group: qwerty
      cancel-in-progress: true
    steps:
      - name: test
        run: sleep 20